services:
  web:
    image: culture
    build:
      context: .
      dockerfile: Dockerfile-Local
    container_name: web
    volumes:
      - ./src:/app/src
      - ./static:/app/static
      - ./fixtures:/app/fixtures
      - ./media:/app/media
      - ./manage.py:/app/manage.py
    command: "uv run gunicorn --bind 0.0.0.0:8000 config.wsgi:application"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - local

  db:
    image: postgres:17.3-alpine
    container_name: db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - local
    restart: unless-stopped

  nginx:
    image: nginx:1.29-alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./static:/app/static/
      - ./media:/app/media/
    depends_on:
      - web
    restart: unless-stopped
    networks:
      - local

  redis:
    image: redis:8.2-alpine
    container_name: redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - local

  celery:
    image: culture
    container_name: celery
    command: uv run celery -A config worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - web
      - redis
      - db
    restart: unless-stopped
    networks:
      - local

  celery_beat:
    image: culture
    container_name: celery_beat
    command: uv run celery -A config beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - .env
    depends_on:
      - web
      - redis
      - db
    restart: unless-stopped
    networks:
      - local

networks:
  local:
    driver: bridge

volumes:
  redis_data:
  postgres_data:
